*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0b1020;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}


.contenedor-grid{
    width: 900px;
    height: 500px;

    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;

    gap: 15px;

    grid-template-areas:
    "hero sidebar"
    "content aside";
}


.comunes{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;
    font-weight: bold;

    border-radius: 15px;
}


.hero{
    grid-area: hero;
    background: crimson;
}

.sidebar{
    grid-area: sidebar;
    background: royalblue;
}

.content{
    grid-area: content;
    background: seagreen;
}

.aside{
    grid-area: aside;
    background: orange;
}